.child{
    background-color: black;
    width: 15vw;
    height: 170vh;
    padding: 5px;
}
h3{
    color: white;
}

h4{
    color: Yellow;
}
.parent{
    height: 170vh;
    background-color: whitesmoke;
    display: flex;
}
form{
    background-color: white;
}
.child2{ 
    background-color: whitesmoke;
}